/* Navbar */
.general-navbar {
  background-color: var(--darkerTextColor);
  padding: 10px 16px;
}

/* Logo */
.general-logo-image {
  width: 120px;
  height: auto;
  border-radius: 16px;
  margin-right: 10px;
}

.general-logo-name {
  color: var(--brightTextColor);
  font-size: 20px;
  font-weight: 600;
}

/* Home button */
.general-home-btn {
  background-color: var(--brightTextColor);
  color: var(--darkerTextColor);
  font-size: 14px;
  font-weight: 700;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.3s;
}

.general-home-btn:hover {
  transform: scale(1.05);
  box-shadow: #4a4a4a 0px 5px 15px;
   background-color: var(--brightTextColor);
  color: var(--darkerTextColor);
}
